# coding: utf-8

"""
    Impinj Reader Configuration REST API

    This API provides an interface for configuring RFID operations and reporting streams on Impinj Readers as well as updating Impinj Reader firmware and configuring system settings.  When retrieved from a reader, this OpenAPI Document is dynamically updated based on the capabilities of the reader. See the '/openapi.json' path.   # noqa: E501

    OpenAPI spec version: 1.7.0
    Contact: developer-feedback@impinj.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class DefaultApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def data_stream_get(self, **kwargs):  # noqa: E501
        """Get HTTP stream  # noqa: E501

        Get reader event data as an HTTP stream  **Connecting**  To connect to the reader, form an HTTP request and consume the resulting stream for as long as is practical. The reader will hold the connection open indefinitely, barring reader error, excessive client-side lag, network hiccups, reader maintenance or duplicate logins. In the event there is no new data to stream for an extended period of time, a keep-alive CR-LF character pair will be sent. See /http-stream path.  The method to form an HTTP request and parse the response will be different for every language or framework, so consult the documentation for the HTTP library you are using.  Some HTTP client libraries only return the response body after the connection has been closed by the server. These clients will not work for accessing data via HTTP streaming. You must use an HTTP client that will return response data incrementally. Most robust HTTP client libraries will provide this functionality. The Apache HttpClient will handle this use case, for example.  **Disconnections**  The reader will close a streaming connection for the following reasons:  - A client establishes too many connections with the same credentials. When this occurs, the oldest connection will be terminated.  - A client stops reading data suddenly. If the rate of tag reports being read off of the stream drops suddenly, the connection will be closed.  - A client reads data too slowly. Every streaming connection is backed by a queue of messages to be sent to the client. If this queue grows too large over time, the connection will be closed.  - The reader is rebooted.   **Stalls**   Set a timer, either a 90 second TCP level socket timeout, or a 90 second application level timer on the receipt  of new data. If 90 seconds pass with no data received, including newlines, disconnect and reconnect immediately.  The Streaming API will send a keep-alive periodically to prevent your application from timing out the  connection. You should wait at least 3 cycles to prevent spurious reconnects in the event of network congestion,  local CPU starvation, local GC pauses, etc.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.data_stream_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ReaderEvent
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.data_stream_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.data_stream_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def data_stream_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get HTTP stream  # noqa: E501

        Get reader event data as an HTTP stream  **Connecting**  To connect to the reader, form an HTTP request and consume the resulting stream for as long as is practical. The reader will hold the connection open indefinitely, barring reader error, excessive client-side lag, network hiccups, reader maintenance or duplicate logins. In the event there is no new data to stream for an extended period of time, a keep-alive CR-LF character pair will be sent. See /http-stream path.  The method to form an HTTP request and parse the response will be different for every language or framework, so consult the documentation for the HTTP library you are using.  Some HTTP client libraries only return the response body after the connection has been closed by the server. These clients will not work for accessing data via HTTP streaming. You must use an HTTP client that will return response data incrementally. Most robust HTTP client libraries will provide this functionality. The Apache HttpClient will handle this use case, for example.  **Disconnections**  The reader will close a streaming connection for the following reasons:  - A client establishes too many connections with the same credentials. When this occurs, the oldest connection will be terminated.  - A client stops reading data suddenly. If the rate of tag reports being read off of the stream drops suddenly, the connection will be closed.  - A client reads data too slowly. Every streaming connection is backed by a queue of messages to be sent to the client. If this queue grows too large over time, the connection will be closed.  - The reader is rebooted.   **Stalls**   Set a timer, either a 90 second TCP level socket timeout, or a 90 second application level timer on the receipt  of new data. If 90 seconds pass with no data received, including newlines, disconnect and reconnect immediately.  The Streaming API will send a keep-alive periodically to prevent your application from timing out the  connection. You should wait at least 3 cycles to prevent spurious reconnects in the event of network congestion,  local CPU starvation, local GC pauses, etc.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.data_stream_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ReaderEvent
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method data_stream_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/data/stream', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReaderEvent',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def device_gpos_get(self, **kwargs):  # noqa: E501
        """Retrieve GPO configurations.  # noqa: E501

        Retrieves the GPO configurations of the reader.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.device_gpos_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GpoConfigurations
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.device_gpos_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.device_gpos_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def device_gpos_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve GPO configurations.  # noqa: E501

        Retrieves the GPO configurations of the reader.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.device_gpos_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GpoConfigurations
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_gpos_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/device/gpos', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GpoConfigurations',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def device_gpos_put(self, gpo_configurations, **kwargs):  # noqa: E501
        """Update GPO configurations.  # noqa: E501

        Updates the GPO configurations of the reader. If no configuration is provided for a GPO then the existing configuration will be used.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.device_gpos_put(gpo_configurations, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GpoConfigurations gpo_configurations: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.device_gpos_put_with_http_info(gpo_configurations, **kwargs)  # noqa: E501
        else:
            (data) = self.device_gpos_put_with_http_info(gpo_configurations, **kwargs)  # noqa: E501
            return data

    def device_gpos_put_with_http_info(self, gpo_configurations, **kwargs):  # noqa: E501
        """Update GPO configurations.  # noqa: E501

        Updates the GPO configurations of the reader. If no configuration is provided for a GPO then the existing configuration will be used.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.device_gpos_put_with_http_info(gpo_configurations, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GpoConfigurations gpo_configurations: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['gpo_configurations']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_gpos_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'gpo_configurations' is set
        if self.api_client.client_side_validation and ('gpo_configurations' not in params or
                                                       params['gpo_configurations'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `gpo_configurations` when calling `device_gpos_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'gpo_configurations' in params:
            body_params = params['gpo_configurations']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/device/gpos', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def http_stream_get(self, **kwargs):  # noqa: E501
        """Retrieve HTTP stream settings  # noqa: E501

        Retrieves the configuration settings that apply to all HTTP streams.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.http_stream_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: StreamConfiguration
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.http_stream_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.http_stream_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def http_stream_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve HTTP stream settings  # noqa: E501

        Retrieves the configuration settings that apply to all HTTP streams.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.http_stream_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: StreamConfiguration
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method http_stream_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/http-stream', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='StreamConfiguration',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def http_stream_put(self, updated_stream_configuration, **kwargs):  # noqa: E501
        """Update HTTP stream settings  # noqa: E501

        Updates the HTTP stream settings that apply to all HTTP streams.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.http_stream_put(updated_stream_configuration, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StreamConfiguration updated_stream_configuration: The HTTP stream configuration settings (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.http_stream_put_with_http_info(updated_stream_configuration, **kwargs)  # noqa: E501
        else:
            (data) = self.http_stream_put_with_http_info(updated_stream_configuration, **kwargs)  # noqa: E501
            return data

    def http_stream_put_with_http_info(self, updated_stream_configuration, **kwargs):  # noqa: E501
        """Update HTTP stream settings  # noqa: E501

        Updates the HTTP stream settings that apply to all HTTP streams.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.http_stream_put_with_http_info(updated_stream_configuration, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param StreamConfiguration updated_stream_configuration: The HTTP stream configuration settings (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['updated_stream_configuration']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method http_stream_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'updated_stream_configuration' is set
        if self.api_client.client_side_validation and ('updated_stream_configuration' not in params or
                                                       params['updated_stream_configuration'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `updated_stream_configuration` when calling `http_stream_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'updated_stream_configuration' in params:
            body_params = params['updated_stream_configuration']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/http-stream', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def kafka_get(self, **kwargs):  # noqa: E501
        """Retrieve Kafka settings  # noqa: E501

        Retrieves the current Kafka configuration settings for pushing messages to a Kafka broker.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.kafka_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: KafkaConfiguration
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.kafka_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.kafka_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def kafka_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve Kafka settings  # noqa: E501

        Retrieves the current Kafka configuration settings for pushing messages to a Kafka broker.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.kafka_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: KafkaConfiguration
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method kafka_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/kafka', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='KafkaConfiguration',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def kafka_put(self, updated_kafka_configuration, **kwargs):  # noqa: E501
        """Update Kafka settings  # noqa: E501

        Updates the Kafka settings used by the device.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.kafka_put(updated_kafka_configuration, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param KafkaConfiguration updated_kafka_configuration: The fully defined Kafka configuration settings the device should use when pushing messages to a Kafka broker. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.kafka_put_with_http_info(updated_kafka_configuration, **kwargs)  # noqa: E501
        else:
            (data) = self.kafka_put_with_http_info(updated_kafka_configuration, **kwargs)  # noqa: E501
            return data

    def kafka_put_with_http_info(self, updated_kafka_configuration, **kwargs):  # noqa: E501
        """Update Kafka settings  # noqa: E501

        Updates the Kafka settings used by the device.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.kafka_put_with_http_info(updated_kafka_configuration, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param KafkaConfiguration updated_kafka_configuration: The fully defined Kafka configuration settings the device should use when pushing messages to a Kafka broker. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['updated_kafka_configuration']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method kafka_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'updated_kafka_configuration' is set
        if self.api_client.client_side_validation and ('updated_kafka_configuration' not in params or
                                                       params['updated_kafka_configuration'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `updated_kafka_configuration` when calling `kafka_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'updated_kafka_configuration' in params:
            body_params = params['updated_kafka_configuration']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/kafka', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def mqtt_get(self, **kwargs):  # noqa: E501
        """Retrieve MQTT settings  # noqa: E501

        Retrieves the current MQTT configuration settings for publishing data to an MQTT broker.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mqtt_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: MqttConfiguration
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.mqtt_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.mqtt_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def mqtt_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve MQTT settings  # noqa: E501

        Retrieves the current MQTT configuration settings for publishing data to an MQTT broker.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mqtt_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: MqttConfiguration
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method mqtt_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/mqtt', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MqttConfiguration',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def mqtt_put(self, updated_mqtt_configuration, **kwargs):  # noqa: E501
        """Update MQTT settings  # noqa: E501

        Updates the MQTT settings used by the device.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mqtt_put(updated_mqtt_configuration, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MqttConfiguration updated_mqtt_configuration: The fully defined MQTT configuration settings the device should use when publishing data to an MQTT broker. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.mqtt_put_with_http_info(updated_mqtt_configuration, **kwargs)  # noqa: E501
        else:
            (data) = self.mqtt_put_with_http_info(updated_mqtt_configuration, **kwargs)  # noqa: E501
            return data

    def mqtt_put_with_http_info(self, updated_mqtt_configuration, **kwargs):  # noqa: E501
        """Update MQTT settings  # noqa: E501

        Updates the MQTT settings used by the device.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.mqtt_put_with_http_info(updated_mqtt_configuration, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MqttConfiguration updated_mqtt_configuration: The fully defined MQTT configuration settings the device should use when publishing data to an MQTT broker. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['updated_mqtt_configuration']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method mqtt_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'updated_mqtt_configuration' is set
        if self.api_client.client_side_validation and ('updated_mqtt_configuration' not in params or
                                                       params['updated_mqtt_configuration'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `updated_mqtt_configuration` when calling `mqtt_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'updated_mqtt_configuration' in params:
            body_params = params['updated_mqtt_configuration']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/mqtt', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def openapi_json_get(self, **kwargs):  # noqa: E501
        """Get OpenAPI Document  # noqa: E501

        Retrieve the OpenAPI Document for this Reader. The document describes the API using reader-specific capabilities and constraints, such as region-specific transmit power limits and supported RF Modes. It also includes definitions and paths associated with all registered profiles. If the IoT Interface is disabled, this will only contain system endpoints.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.openapi_json_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.openapi_json_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.openapi_json_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def openapi_json_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get OpenAPI Document  # noqa: E501

        Retrieve the OpenAPI Document for this Reader. The document describes the API using reader-specific capabilities and constraints, such as region-specific transmit power limits and supported RF Modes. It also includes definitions and paths associated with all registered profiles. If the IoT Interface is disabled, this will only contain system endpoints.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.openapi_json_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method openapi_json_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/openapi.json', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def profiles_get(self, **kwargs):  # noqa: E501
        """Retrieve profiles  # noqa: E501

        Retrieves the profiles (e.g. inventory, location, and direction) supported by this reader.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.profiles_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.profiles_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def profiles_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve profiles  # noqa: E501

        Retrieves the profiles (e.g. inventory, location, and direction) supported by this reader.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method profiles_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/profiles', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def profiles_inventory_presets_get(self, **kwargs):  # noqa: E501
        """Retrieve inventory presets  # noqa: E501

        Retrieves the available presets for running inventory.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[PresetId]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.profiles_inventory_presets_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.profiles_inventory_presets_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def profiles_inventory_presets_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve inventory presets  # noqa: E501

        Retrieves the available presets for running inventory.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[PresetId]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method profiles_inventory_presets_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/profiles/inventory/presets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[PresetId]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def profiles_inventory_presets_preset_id_delete(self, preset_id, **kwargs):  # noqa: E501
        """Delete inventory preset  # noqa: E501

        Removes a user-defined settings preset for executing inventory.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_preset_id_delete(preset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str preset_id: The name of a preset. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.profiles_inventory_presets_preset_id_delete_with_http_info(preset_id, **kwargs)  # noqa: E501
        else:
            (data) = self.profiles_inventory_presets_preset_id_delete_with_http_info(preset_id, **kwargs)  # noqa: E501
            return data

    def profiles_inventory_presets_preset_id_delete_with_http_info(self, preset_id, **kwargs):  # noqa: E501
        """Delete inventory preset  # noqa: E501

        Removes a user-defined settings preset for executing inventory.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_preset_id_delete_with_http_info(preset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str preset_id: The name of a preset. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['preset_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method profiles_inventory_presets_preset_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'preset_id' is set
        if self.api_client.client_side_validation and ('preset_id' not in params or
                                                       params['preset_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `preset_id` when calling `profiles_inventory_presets_preset_id_delete`")  # noqa: E501

        if self.api_client.client_side_validation and ('preset_id' in params and
                                                       len(params['preset_id']) > 128):
            raise ValueError("Invalid value for parameter `preset_id` when calling `profiles_inventory_presets_preset_id_delete`, length must be less than or equal to `128`")  # noqa: E501
        if self.api_client.client_side_validation and ('preset_id' in params and not re.search(r'^[a-zA-Z0-9_.-]+$', params['preset_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `preset_id` when calling `profiles_inventory_presets_preset_id_delete`, must conform to the pattern `/^[a-zA-Z0-9_.-]+$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'preset_id' in params:
            path_params['presetId'] = params['preset_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/profiles/inventory/presets/{presetId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def profiles_inventory_presets_preset_id_get(self, preset_id, **kwargs):  # noqa: E501
        """Retrieve inventory preset detail  # noqa: E501

        Retrieves the detailed configuration of the specified preset.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_preset_id_get(preset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str preset_id: The name of a preset. (required)
        :return: InventoryRequest
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.profiles_inventory_presets_preset_id_get_with_http_info(preset_id, **kwargs)  # noqa: E501
        else:
            (data) = self.profiles_inventory_presets_preset_id_get_with_http_info(preset_id, **kwargs)  # noqa: E501
            return data

    def profiles_inventory_presets_preset_id_get_with_http_info(self, preset_id, **kwargs):  # noqa: E501
        """Retrieve inventory preset detail  # noqa: E501

        Retrieves the detailed configuration of the specified preset.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_preset_id_get_with_http_info(preset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str preset_id: The name of a preset. (required)
        :return: InventoryRequest
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['preset_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method profiles_inventory_presets_preset_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'preset_id' is set
        if self.api_client.client_side_validation and ('preset_id' not in params or
                                                       params['preset_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `preset_id` when calling `profiles_inventory_presets_preset_id_get`")  # noqa: E501

        if self.api_client.client_side_validation and ('preset_id' in params and
                                                       len(params['preset_id']) > 128):
            raise ValueError("Invalid value for parameter `preset_id` when calling `profiles_inventory_presets_preset_id_get`, length must be less than or equal to `128`")  # noqa: E501
        if self.api_client.client_side_validation and ('preset_id' in params and not re.search(r'^[a-zA-Z0-9_.-]+$', params['preset_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `preset_id` when calling `profiles_inventory_presets_preset_id_get`, must conform to the pattern `/^[a-zA-Z0-9_.-]+$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'preset_id' in params:
            path_params['presetId'] = params['preset_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/profiles/inventory/presets/{presetId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InventoryRequest',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def profiles_inventory_presets_preset_id_put(self, preset_id, preset_object, **kwargs):  # noqa: E501
        """Create or replace inventory preset  # noqa: E501

        Creates or replaces a user-defined inventory preset.  Presets with names that begin with 'default' or 'impinj' may not be created or replaced.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_preset_id_put(preset_id, preset_object, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str preset_id: The name of a preset. (required)
        :param InventoryRequest preset_object: inventory profile configuration (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.profiles_inventory_presets_preset_id_put_with_http_info(preset_id, preset_object, **kwargs)  # noqa: E501
        else:
            (data) = self.profiles_inventory_presets_preset_id_put_with_http_info(preset_id, preset_object, **kwargs)  # noqa: E501
            return data

    def profiles_inventory_presets_preset_id_put_with_http_info(self, preset_id, preset_object, **kwargs):  # noqa: E501
        """Create or replace inventory preset  # noqa: E501

        Creates or replaces a user-defined inventory preset.  Presets with names that begin with 'default' or 'impinj' may not be created or replaced.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_preset_id_put_with_http_info(preset_id, preset_object, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str preset_id: The name of a preset. (required)
        :param InventoryRequest preset_object: inventory profile configuration (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['preset_id', 'preset_object']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method profiles_inventory_presets_preset_id_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'preset_id' is set
        if self.api_client.client_side_validation and ('preset_id' not in params or
                                                       params['preset_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `preset_id` when calling `profiles_inventory_presets_preset_id_put`")  # noqa: E501
        # verify the required parameter 'preset_object' is set
        if self.api_client.client_side_validation and ('preset_object' not in params or
                                                       params['preset_object'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `preset_object` when calling `profiles_inventory_presets_preset_id_put`")  # noqa: E501

        if self.api_client.client_side_validation and ('preset_id' in params and
                                                       len(params['preset_id']) > 128):
            raise ValueError("Invalid value for parameter `preset_id` when calling `profiles_inventory_presets_preset_id_put`, length must be less than or equal to `128`")  # noqa: E501
        if self.api_client.client_side_validation and ('preset_id' in params and not re.search(r'^(?!default|impinj)[a-zA-Z0-9_.-]+$', params['preset_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `preset_id` when calling `profiles_inventory_presets_preset_id_put`, must conform to the pattern `/^(?!default|impinj)[a-zA-Z0-9_.-]+$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'preset_id' in params:
            path_params['presetId'] = params['preset_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'preset_object' in params:
            body_params = params['preset_object']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/profiles/inventory/presets/{presetId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def profiles_inventory_presets_preset_id_start_post(self, preset_id, **kwargs):  # noqa: E501
        """Start inventory preset  # noqa: E501

        Starts running the specified inventory preset. The running preset cannot be replaced or deleted. The preset will be automatically restarted if the reader reboots. If the reader is restarted multiple times in quick succcession the saved preset may be stopped to prevent the bad preset from blocking access to the rest interface. If this occurs an ERROR level message will be logged.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_preset_id_start_post(preset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str preset_id: The name of a preset. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.profiles_inventory_presets_preset_id_start_post_with_http_info(preset_id, **kwargs)  # noqa: E501
        else:
            (data) = self.profiles_inventory_presets_preset_id_start_post_with_http_info(preset_id, **kwargs)  # noqa: E501
            return data

    def profiles_inventory_presets_preset_id_start_post_with_http_info(self, preset_id, **kwargs):  # noqa: E501
        """Start inventory preset  # noqa: E501

        Starts running the specified inventory preset. The running preset cannot be replaced or deleted. The preset will be automatically restarted if the reader reboots. If the reader is restarted multiple times in quick succcession the saved preset may be stopped to prevent the bad preset from blocking access to the rest interface. If this occurs an ERROR level message will be logged.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_preset_id_start_post_with_http_info(preset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str preset_id: The name of a preset. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['preset_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method profiles_inventory_presets_preset_id_start_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'preset_id' is set
        if self.api_client.client_side_validation and ('preset_id' not in params or
                                                       params['preset_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `preset_id` when calling `profiles_inventory_presets_preset_id_start_post`")  # noqa: E501

        if self.api_client.client_side_validation and ('preset_id' in params and
                                                       len(params['preset_id']) > 128):
            raise ValueError("Invalid value for parameter `preset_id` when calling `profiles_inventory_presets_preset_id_start_post`, length must be less than or equal to `128`")  # noqa: E501
        if self.api_client.client_side_validation and ('preset_id' in params and not re.search(r'^[a-zA-Z0-9_.-]+$', params['preset_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `preset_id` when calling `profiles_inventory_presets_preset_id_start_post`, must conform to the pattern `/^[a-zA-Z0-9_.-]+$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'preset_id' in params:
            path_params['presetId'] = params['preset_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/profiles/inventory/presets/{presetId}/start', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def profiles_inventory_presets_schema_get(self, **kwargs):  # noqa: E501
        """Retrieve inventory schema  # noqa: E501

        Deprecated: This path will be removed in a future release. The device-specific schema and capabilities can be observed via the \"/openapi.json\" API path instead.  Retrieves the reader-specific JSON schema used to validate inventory presets. This is a good way to determine reader capabilities such as max transmit power or available RF modes.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_schema_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: PresetsSchema
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.profiles_inventory_presets_schema_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.profiles_inventory_presets_schema_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def profiles_inventory_presets_schema_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve inventory schema  # noqa: E501

        Deprecated: This path will be removed in a future release. The device-specific schema and capabilities can be observed via the \"/openapi.json\" API path instead.  Retrieves the reader-specific JSON schema used to validate inventory presets. This is a good way to determine reader capabilities such as max transmit power or available RF modes.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_presets_schema_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: PresetsSchema
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method profiles_inventory_presets_schema_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/profiles/inventory/presets-schema', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PresetsSchema',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def profiles_inventory_start_post(self, preset_object, **kwargs):  # noqa: E501
        """Start transient inventory preset  # noqa: E501

        Start running inventory using the provided inventory configuration. The configuration is not saved and not restarted if the reader reboots.  Transient presets are recommended for running configuration that is updated frequently or for which there is no benefit to storing the configuration on the reader after the preset has stopped. Transient presets are usually the best choice when performing operations that modify tag memory or are meant to operate on a specific tag.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_start_post(preset_object, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param InventoryRequest preset_object: inventory profile configuration (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.profiles_inventory_start_post_with_http_info(preset_object, **kwargs)  # noqa: E501
        else:
            (data) = self.profiles_inventory_start_post_with_http_info(preset_object, **kwargs)  # noqa: E501
            return data

    def profiles_inventory_start_post_with_http_info(self, preset_object, **kwargs):  # noqa: E501
        """Start transient inventory preset  # noqa: E501

        Start running inventory using the provided inventory configuration. The configuration is not saved and not restarted if the reader reboots.  Transient presets are recommended for running configuration that is updated frequently or for which there is no benefit to storing the configuration on the reader after the preset has stopped. Transient presets are usually the best choice when performing operations that modify tag memory or are meant to operate on a specific tag.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_start_post_with_http_info(preset_object, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param InventoryRequest preset_object: inventory profile configuration (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['preset_object']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method profiles_inventory_start_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'preset_object' is set
        if self.api_client.client_side_validation and ('preset_object' not in params or
                                                       params['preset_object'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `preset_object` when calling `profiles_inventory_start_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'preset_object' in params:
            body_params = params['preset_object']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/profiles/inventory/start', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def profiles_inventory_tag_get(self, **kwargs):  # noqa: E501
        """Checks for the presence of a tag in the field of view of an antenna.  # noqa: E501

        Returns information on whether the specified tag was seen on the specified antenna in the tag reporting interval. Available only if TagReportingConfiguration feature is enabled. Must specify exactly one tag identifier and one antenna identifier.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_tag_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str epc: The base64url-encoded EPC of the tag of interest.
        :param str epc_hex: The hex-encoded EPC of the tag of interest.
        :param str tid: The base64url-encoded TID of the tag of interest.
        :param str tid_hex: The hex-encoded TID of the tag of interest.
        :param int antenna_port: The port number of the antenna for the tag of interest.
        :param str antenna_name: Name for the antenna for the tag of interest.
        :return: TagPresenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.profiles_inventory_tag_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.profiles_inventory_tag_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def profiles_inventory_tag_get_with_http_info(self, **kwargs):  # noqa: E501
        """Checks for the presence of a tag in the field of view of an antenna.  # noqa: E501

        Returns information on whether the specified tag was seen on the specified antenna in the tag reporting interval. Available only if TagReportingConfiguration feature is enabled. Must specify exactly one tag identifier and one antenna identifier.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_inventory_tag_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str epc: The base64url-encoded EPC of the tag of interest.
        :param str epc_hex: The hex-encoded EPC of the tag of interest.
        :param str tid: The base64url-encoded TID of the tag of interest.
        :param str tid_hex: The hex-encoded TID of the tag of interest.
        :param int antenna_port: The port number of the antenna for the tag of interest.
        :param str antenna_name: Name for the antenna for the tag of interest.
        :return: TagPresenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['epc', 'epc_hex', 'tid', 'tid_hex', 'antenna_port', 'antenna_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method profiles_inventory_tag_get" % key
                )
            params[key] = val
        del params['kwargs']

        if self.api_client.client_side_validation and ('epc_hex' in params and not re.search(r'^[0-9A-F]+$', params['epc_hex'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `epc_hex` when calling `profiles_inventory_tag_get`, must conform to the pattern `/^[0-9A-F]+$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('tid_hex' in params and not re.search(r'^[0-9A-F]+$', params['tid_hex'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `tid_hex` when calling `profiles_inventory_tag_get`, must conform to the pattern `/^[0-9A-F]+$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('antenna_port' in params and params['antenna_port'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `antenna_port` when calling `profiles_inventory_tag_get`, must be a value greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('antenna_name' in params and
                                                       len(params['antenna_name']) > 64):
            raise ValueError("Invalid value for parameter `antenna_name` when calling `profiles_inventory_tag_get`, length must be less than or equal to `64`")  # noqa: E501
        if self.api_client.client_side_validation and ('antenna_name' in params and not re.search(r'^[a-zA-Z0-9_.-]+$', params['antenna_name'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `antenna_name` when calling `profiles_inventory_tag_get`, must conform to the pattern `/^[a-zA-Z0-9_.-]+$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'epc' in params:
            query_params.append(('epc', params['epc']))  # noqa: E501
        if 'epc_hex' in params:
            query_params.append(('epcHex', params['epc_hex']))  # noqa: E501
        if 'tid' in params:
            query_params.append(('tid', params['tid']))  # noqa: E501
        if 'tid_hex' in params:
            query_params.append(('tidHex', params['tid_hex']))  # noqa: E501
        if 'antenna_port' in params:
            query_params.append(('antennaPort', params['antenna_port']))  # noqa: E501
        if 'antenna_name' in params:
            query_params.append(('antennaName', params['antenna_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/profiles/inventory/tag', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TagPresenceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def profiles_stop_post(self, **kwargs):  # noqa: E501
        """Stop preset  # noqa: E501

        Stops the currently running profile preset. If no preset is currently running, this is a no-op.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_stop_post(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.profiles_stop_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.profiles_stop_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def profiles_stop_post_with_http_info(self, **kwargs):  # noqa: E501
        """Stop preset  # noqa: E501

        Stops the currently running profile preset. If no preset is currently running, this is a no-op.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.profiles_stop_post_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method profiles_stop_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/profiles/stop', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def status_get(self, **kwargs):  # noqa: E501
        """Retrieve status  # noqa: E501

        Retrieves the reader's current status. This endpoint allow's a user to query what the reader is actively working on, if anything. The information contained here will indicate the last request the reader responded to that resulted in it taking some modem action, such as starting or stopping inventory. Configuration API calls are not included.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.status_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ReaderStatus
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.status_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.status_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def status_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve status  # noqa: E501

        Retrieves the reader's current status. This endpoint allow's a user to query what the reader is actively working on, if anything. The information contained here will indicate the last request the reader responded to that resulted in it taking some modem action, such as starting or stopping inventory. Configuration API calls are not included.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.status_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ReaderStatus
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method status_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/status', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReaderStatus',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def system_access_authentication_get(self, **kwargs):  # noqa: E501
        """Retrieve the reader's authentication configuration.  # noqa: E501

        Retrieves the reader's authentication configuration.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.system_access_authentication_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: AuthenticationConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.system_access_authentication_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.system_access_authentication_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def system_access_authentication_get_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve the reader's authentication configuration.  # noqa: E501

        Retrieves the reader's authentication configuration.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.system_access_authentication_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: AuthenticationConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method system_access_authentication_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['basic']  # noqa: E501

        return self.api_client.call_api(
            '/system/access/authentication', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AuthenticationConfig',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def system_access_authentication_put(self, auth_config, **kwargs):  # noqa: E501
        """Update the reader's authentication configuration.  # noqa: E501

        Updates the reader's authentication configuration.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.system_access_authentication_put(auth_config, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AuthenticationConfig auth_config: The authentication configuration to update. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.system_access_authentication_put_with_http_info(auth_config, **kwargs)  # noqa: E501
        else:
            (data) = self.system_access_authentication_put_with_http_info(auth_config, **kwargs)  # noqa: E501
            return data

    def system_access_authentication_put_with_http_info(self, auth_config, **kwargs):  # noqa: E501
        """Update the reader's authentication configuration.  # noqa: E501

        Updates the reader's authentication configuration.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
[...]
